.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: #161619;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1em 3.2em;
}

.footer-icon {
  text-decoration: none;
  color: #918e9b;
  font-size: 1.812em;
}
