.info-container,
.profile-pic {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.info-container {
  background-color: #1a1b21;
  max-width: 19.8em;
}

.profile-pic {
  object-fit: cover;
  object-position: top;
}

.contact-container {
  flex-direction: column;
  align-items: center;
}

.contact-container,
.email-btn {
  display: flex;
}

.name {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin-top: 0.8em;
}

.job {
  color: #f3bf99;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-top: 0.2em;
}

.website-link {
  color: #f5f5f5;
  font-size: 0.625rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.02em;
  margin-top: 0.6em;
}

.email-btn {
  width: 15.437em;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #fff;

  border: none;
  border-radius: 6px;

  padding: 0.562em 0;
  margin-top: 0.8em;
  margin-bottom: 1em;
  transition: all 0.3s;
}

.email-link {
  text-decoration: none;
  color: #374151;
  font-size: 0.875rem;
  font-weight: 500;
}

.email-btn:hover,
.email-btn:active {
  color: #fff;
  background-color: #374151;
}

.email-icon {
  color: #1e1f26;
}
